@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: darkblue;
  text-align: center;
}

#main-title {
  font-weight: bold;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}

.intro-paragraph {
  font-style: italic;
  line-height: 1.5;
  font-family: "Poppins", "Open Sans combo";
}

.content-paragraph {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

.color-box p {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}
